.nav-left-menu {
    z-index: 999999;
    overflow: auto;
    font-size: 12px;
    font-weight: 200;
    background: #0b161d;
    position: fixed;
    top: 0;
    left: -500px;
    width: 500px;
    height: calc(100vh - 50px);
    color: #e1ffff;
}
.transform-left-custom-active {
    left: 0;
}

.header-left-menu {
    padding: 20px;
}
.level-lesson-current {
    display: inline-block;
}

.list-level-lesson {
    display: inline-block;
    margin-left: 15px;
    bottom: 5px;
}
.top-menu {
    text-align: center;
    margin-bottom: 10px;
}
.icon-inner-custom {
    color: black;
    font-size: 23px
}
.icon-inner-custom.icon-hide {
    left: 2px;
}
.icon-show {
    display: none;
}

.list-level-lesson.show span .icon-show {
    display: inline-block;
}

.list-level-lesson.show span .icon-hide {
    display: none;
}

.type-current .current-step a{
    background: #152B39;
}
#menu-content .type-current li.current-step {
    color: #f3bc65;
}

#menu-content li {
    color: white;
    font-size: 16px;
    word-wrap: normal;
    white-space: nowrap;
    text-decoration: none;
    padding: 5px 0;
}
#menu-content .level-one, .level-two {
    list-style: none;
}
#menu-content {
    margin: 0;
    padding: 10px 40px;
    border-top: 1px solid #152B39;
}

.title-menu {
    color: #52B1DB;
    font-size: 18px;
    margin-bottom: 15px;
}

.icon-head-title-custom {
    margin-right: 3px;
    width: 15px;
}

.show-current-step {
    background: #0b161d;
    float: left;
    height: 100%;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
}

.title-step {
    margin-left: 10px;
}

#menu-content li a {
    padding: 5px;
}

.list-level-lesson .dropdown-header {
    color: #8a6d3b;
}

.disabled-lesson {
    cursor: not-allowed;
    opacity: 0.5;
    padding: 5px !important;
}

.link-solution-lesson {
    display: none;
}.nav-left-menu {
     overflow: auto;
     font-size: 12px;
     font-weight: 200;
     background: #0b161d;
     position: fixed;
     top: 0;
     left: -500px;
     width: 500px;
     height: calc(100vh - 50px);
     color: #e1ffff;
     z-index: 9999;
 }
.transform-left-custom-active {
    left: 0;
}

.transform-left-custom {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.header-left-menu {
    padding: 20px;
}
.level-lesson-current {
    display: inline-block;
}

.list-level-lesson {
    display: inline-block;
    margin-left: 15px;
    bottom: 5px;
}
.top-menu {
    text-align: center;
    margin-bottom: 10px;
}
.icon-inner-custom {
    color: black;
    font-size: 23px
}
.icon-inner-custom.icon-hide {
    left: 2px;
}
.icon-show {
    display: none;
}

.list-level-lesson.show span .icon-show {
    display: inline-block;
}

.list-level-lesson.show span .icon-hide {
    display: none;
}

.type-current .current-step a{
    background: #152B39;
}
#menu-content .type-current li.current-step {
    color: #f3bc65;
}

#menu-content li {
    color: white;
    font-size: 16px;
    word-wrap: normal;
    white-space: nowrap;
    text-decoration: none;
    padding: 5px 0;
}
#menu-content .level-one, .level-two {
    list-style: none;
}
#menu-content {
    margin: 0;
    padding: 10px 40px;
    border-top: 1px solid #152B39;
}

.title-menu {
    color: #52B1DB;
    font-size: 18px;
    margin-bottom: 15px;
}

.icon-head-title-custom {
    margin-right: 3px;
    width: 15px;
}

.show-current-step {
    background: #0b161d;
    float: left;
    height: 100%;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
}

.title-step {
    margin-left: 10px;
}

#menu-content li a {
    padding: 5px;
}

.list-level-lesson .dropdown-header {
    color: #8a6d3b;
}

.disabled-lesson {
    cursor: not-allowed;
    opacity: 0.5;
    padding: 5px !important;
}

.link-solution-lesson {
    display: none;
}

.item-lesson:hover .link-solution-lesson {
    display: inline-block;
    margin: 0 5px;
}

.show-lesson-area {
    margin-bottom: 20px;
}

.primary-menu {
    padding: 0;
}

.show-step-title {
    padding-left: 0;
}