.title-new-type-action {
    margin-bottom: 30px;
}

.new-learning-container .form-group {
    width: 100%;
}

.container {
    width: 95%;
}

.list-ordered li, .list-ordered-paragraph li {
    list-style: none;
    display: inline;
    margin: 0px 10px;
}

.dropdown-create-new {
    background: #5cb85c;
}

.upload-new-type-question {
    width: 100%;
}